{
  "openapi": "3.1.0",
  "info": {
    "title": "Distrify API",
    "description": "REST API for the Distrify platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.distrify.us",
      "description": "Production"
    },
    {
      "url": "http://localhost",
      "description": "Local (api-gateway nginx on docker-compose)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Firebase token exchange, multi-organization selection"
    },
    {
      "name": "Organization",
      "description": "Organization profile"
    },
    {
      "name": "Staff",
      "description": "Staff CRUD, profile and permissions"
    },
    {
      "name": "Products",
      "description": "Products, brands, categories, media, prices and UOMs"
    },
    {
      "name": "Product Groups",
      "description": "Variants of a product style along attribute axes (Color, Size, Flavor…). Every variant is a normal product, so ordering, inventory and pricing keep working unchanged. Requires the tenant flag organizations.variantsEnabled."
    },
    {
      "name": "Inventory",
      "description": "Warehouses, stock and lots"
    },
    {
      "name": "Clients",
      "description": "Client records and addresses"
    },
    {
      "name": "Orders",
      "description": "Orders, payments, credit memos and config"
    },
    {
      "name": "Search",
      "description": "Full-text search for products and orders"
    },
    {
      "name": "Purchases",
      "description": "Purchase orders"
    },
    {
      "name": "Quotations",
      "description": "Quotation CRUD, status changes and order conversion"
    },
    {
      "name": "Quotes",
      "description": "Quoted qty lookup for product/inventory flows"
    },
    {
      "name": "Users",
      "description": "User accounts within the organization."
    },
    {
      "name": "Roles",
      "description": "Roles and their permission sets."
    },
    {
      "name": "Print Templates",
      "description": "Document print templates and defaults."
    },
    {
      "name": "Custom Fields",
      "description": "Custom field definitions for entities."
    },
    {
      "name": "Commercial Routes",
      "description": "Sales routes, their stops and field executions."
    },
    {
      "name": "Catalog Config",
      "description": "Storefront catalog configuration, banners and guest intentions."
    },
    {
      "name": "Order Settings",
      "description": "Order taxes, delivery providers/statuses, payment methods/terms, charge types and jurisdiction tax rates."
    },
    {
      "name": "Order Dashboards",
      "description": "Tax and daily/weekly closing dashboards."
    },
    {
      "name": "Purchase Settings",
      "description": "Purchase taxes, delivery statuses, vendors, payment methods and terms."
    },
    {
      "name": "Analytics",
      "description": "Analytics dashboards (sales, retention, finance, AR/AP, cashflow, ...) and the AI assistant."
    }
  ],
  "paths": {
    "/api/users/v1/auth/organizations": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List my organizations",
        "description": "Returns the organizations the authenticated user belongs to. Call this right after Firebase sign-in to decide whether to show an organization picker (`needsSelection: true`) or proceed straight into the app.",
        "responses": {
          "200": {
            "description": "Organizations available to the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthOrganizationsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/users/v1/auth/default-organization": {
      "put": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set my default organization",
        "description": "Marks one of the user's organizations as the default. Subsequent requests are scoped to this organization automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultOrgRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Default organization updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/organizations/v1/staff/me/api-key": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate (or rotate) my API key",
        "description": "Generates a new API key for the **calling staff member** and returns the raw key **once**. There is no `{id}` in the path — the staff record is derived from the Firebase token. Admins cannot generate keys for other staff; every staff member manages only their own credential.\n\nOnly the SHA-256 hash and the 8-char prefix are persisted — the raw value cannot be recovered after this response, so the UI must show it to the user immediately and prompt them to store it securely.\n\nCalling this endpoint when a key already exists **rotates** it: the previous key is invalidated atomically and only the new one will authenticate going forward.\n\nThe resulting key inherits the staff user's organization scope and permissions. Use it via the `X-Api-Key` header on any subsequent request — see the [API keys guide](/guides/api-keys) for the full flow.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key generated. The `apiKey` field is the only place the raw key is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAPIKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "The caller is not a `STAFF` user (clients cannot have API keys).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The caller authenticated via `X-Api-Key`. Generating, rotating or revoking an API key requires a Firebase Bearer token to prevent privilege escalation from a leaked key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get my API key info",
        "description": "Returns the masked prefix and creation timestamp of the calling staff member's current API key. The raw key is never included — this endpoint exists so a UI can show *\"key created on 2026-05-21 starting with `dst_a3b4…`\"* without exposing the full credential. Returns `null` when no key has been generated.\n\nUnlike `POST` and `DELETE`, this read-only endpoint works under both `bearerAuth` and `apiKeyAuth` — the caller may inspect their own key under either authentication mode.",
        "responses": {
          "200": {
            "description": "Current API key info, or `null` when no key exists",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIKeyInfoResponse"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke my API key",
        "description": "Clears the calling staff member's API key. After this call, any request that uses the previous key will be rejected with `401`. Use this when a key may have been leaked. Generating a new key with `POST` after revocation is fine — it will start fresh.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "API key revoked"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The caller authenticated via `X-Api-Key`. Revoking an API key requires a Firebase Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/organizations/v1/profile": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get organization profile",
        "description": "Returns the full profile of the user's current organization.",
        "responses": {
          "200": {
            "description": "Organization profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/organizations/v1/staff/profile": {
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "Get my staff profile",
        "description": "Returns the staff record corresponding to the authenticated user inside their current organization.",
        "responses": {
          "200": {
            "description": "Staff member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/organizations/v1/staff/{id}/permissions": {
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "Get staff permissions",
        "description": "Returns the flattened list of permission keys granted to the staff member through their assigned roles.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permission keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "settings.access",
                    "routes.dispatch.access"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/organizations/v1/staff": {
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "List staff",
        "description": "Returns a paginated list of staff members in the user's current organization.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated staff list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedStaff"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Staff"
        ],
        "summary": "Create staff",
        "description": "Creates a new staff member in the user's current organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStaffRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Staff created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/organizations/v1/staff/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Staff"
        ],
        "summary": "Get staff",
        "description": "Returns a single staff member by ID.",
        "responses": {
          "200": {
            "description": "Staff member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Staff"
        ],
        "summary": "Update staff",
        "description": "Updates an existing staff member.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStaffRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated staff member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Staff"
        ],
        "summary": "Delete staff",
        "description": "Soft-deletes a staff member.",
        "responses": {
          "204": {
            "description": "Staff member deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/organizations/v1/staff/{id}/toggle-active": {
      "patch": {
        "tags": [
          "Staff"
        ],
        "summary": "Toggle staff active",
        "description": "Enables or disables a staff member without deleting it.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "isActive"
                ],
                "properties": {
                  "isActive": {
                    "type": "boolean",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated staff member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Staff"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/products/v1": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List products",
        "description": "Returns a paginated list of products. For full-text search by name/SKU/UPC, prefer `GET /api/search/v1/products`.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProducts"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create product",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/products/v1/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "summary": "Patch product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/products/v1/{id}/media": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List product media",
        "description": "Returns the images and other media attached to a product, ordered by `order`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductMedia"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Add product media",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/products/v1/media/by-product-ids": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Bulk product media by ids",
        "description": "Returns media for many products at once, keyed by product id. Use this on the catalog grid instead of N+1 requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productIds"
                ],
                "properties": {
                  "productIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media keyed by productId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProductMedia"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/v1/{id}/unit-of-measures": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List product unit-of-measures",
        "description": "Returns every UOM configured for the product (e.g. case of 12, six-pack of 6, single unit) with the conversion factor and `isDefault` flag.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UOM list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductUnitOfMeasure"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/v1/brands": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List brands",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated brands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBrands"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create brand",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/products/v1/categories": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List categories",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCategories"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create category",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/products/v1/price-lists/by-products": {
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Bulk product prices by client",
        "description": "Returns per-product UOM price lists for the given products, honouring the price list assigned to `clientId`. Use this on the catalog and the cart whenever the active client changes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productIds"
                ],
                "properties": {
                  "productIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "clientId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prices keyed by productId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/UomPriceList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/v1/warehouses": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "List warehouses",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated warehouses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedWarehouses"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Create warehouse",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/inventory/v1/stock/bulk": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Bulk stock by product ids",
        "description": "Returns available stock for many products at once, optionally scoped to a warehouse. Use this on the catalog grid.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productIds"
                ],
                "properties": {
                  "productIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1
                  },
                  "warehouseId": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock summary keyed by productId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/StockSummary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/v1/stock/{productId}/details": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Stock details for a product",
        "description": "Returns the per-warehouse stock breakdown, plus lots, serials and the recent inventory transactions for a single product.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stock details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockDetails"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/inventory/v1/lots": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "List lots",
        "description": "Returns the lots tracked for a product. The mobile app uses this to surface the nearest-expiring lot on the Product Detail screen.",
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lot"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Create lot",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/clients/v1": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List clients",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text on name, RFC and email",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClients"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create client",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/clients/v1/{id}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get client",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/clients/v1/{clientId}/addresses": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List client addresses",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientAddress"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create address",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orders/v1": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "Returns a paginated list of orders. For full-text search across client, folio and invoice number, prefer `GET /api/search/v1/orders`.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "deliveryDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "deliveryDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "paymentTermId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deliveryStatusIds",
            "in": "query",
            "description": "Comma-separated list of delivery status UUIDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sellerId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "CONFIRMED",
                "CANCELLED",
                "VOIDED"
              ]
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrders"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create order",
        "description": "Creates an order. Set `status: \"DRAFT\"` to save the cart without confirming, or `\"CONFIRMED\"` to commit and (optionally) trigger invoice generation with `markAsInvoiced: true`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/orders/v1/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update order",
        "description": "Full replacement of a DRAFT order. For confirmed orders use PATCH semantics on `/status`, `/delivery-status` etc.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orders/v1/{id}/status": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Change order status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeOrderStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/v1/{id}/delivery-status": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Change delivery status",
        "description": "Advances the order through its delivery timeline (e.g. PENDING → IN_PROGRESS → DELIVERED).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeDeliveryStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/v1/{id}/invoice": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Mark order as invoiced",
        "description": "Triggers CFDI generation and stamps the order with an `invoiceNumber`. Idempotent.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoiced order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/v1/{id}/void": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Void order",
        "description": "Voids an invoiced order. Returns the updated order with `status: \"VOIDED\"`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Voided order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/v1/{id}/invoice/pdf": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Download invoice PDF",
        "description": "Returns the CFDI 4.0 invoice PDF. Only valid for orders that have been invoiced.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orders/v1/{id}/timeline": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order timeline",
        "description": "Returns the full event log for an order — creation, delivery transitions and payment activity — ordered ascending by `occurredAt`. Powers the **SEGUIMIENTO** UI in jadix, storefront and mobile.\n\nEvents have a `type` of `GENERAL` (order lifecycle), `DELIVERY` (logistics transitions; `status` carries the new delivery status UUID — resolve via [`/delivery-statuses`](/api-reference/orders/delivery-statuses)) or `PAYMENT` (payment added/removed; `status` is the resulting order payment state and `notes` is `\"<amount> <paymentMethodId>\"`).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chronological timeline events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderStatusEvent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orders/v1/{id}/payments": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List payments for an order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orders/v1/payments": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create payment",
        "description": "Records a payment for a client. Use `allocations` to split it across one or more orders.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/orders/v1/charge-types": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List charge types",
        "description": "Returns the per-organization charge configuration (shipping, IVA, card commissions, etc.) shown in the Cart's CARGOS section.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated charge types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChargeTypes"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order Settings"
        ],
        "summary": "Create charge type",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/orders/v1/delivery-statuses": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List delivery statuses",
        "description": "Returns the ordered list of delivery statuses configured for the organization (e.g. Confirmada, Preparada, En tránsito, Entregada). Drives the timeline scaffold on the order detail screen.",
        "responses": {
          "200": {
            "description": "Delivery statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeliveryStatus"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order Settings"
        ],
        "summary": "Create delivery status",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/orders/v1/payment-methods": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List payment methods",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPaymentMethods"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order Settings"
        ],
        "summary": "Create payment method",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/orders/v1/payment-terms": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List payment terms",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated payment terms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPaymentTerms"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order Settings"
        ],
        "summary": "Create payment term",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/orders/v1/credit-memos": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List credit memos",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated credit memos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCreditMemos"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/orders/v1/credit-memos/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get credit memo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit memo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditMemo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Orders"
        ],
        "summary": "Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orders/v1/clients/{clientId}/products/{productId}/price-history": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Price history for client + product",
        "description": "Returns the recent sale prices of a product to a specific client. Drives the \"Última venta\" hint in the cart.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price history entries (newest first)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "unitPrice",
                      "quantity",
                      "orderNumber",
                      "createdAt"
                    ],
                    "properties": {
                      "unitPrice": {
                        "type": "number"
                      },
                      "quantity": {
                        "type": "number"
                      },
                      "orderNumber": {
                        "type": "integer"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/search/v1/products": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search products",
        "description": "Full-text search across product name, SKU and UPC, with category, brand, stock, price-range filters and sort. Backs the catalog grid on the mobile app and the products list in Jadix.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free-text search across name, SKU and UPC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "categoryIds[]",
            "in": "query",
            "description": "Multiple category UUIDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "brandId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "brandIds[]",
            "in": "query",
            "description": "Multiple brand UUIDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "warehouseId",
            "in": "query",
            "description": "Scope results to products that have an inventory entry in this warehouse. When set, each product's `inventory` array in the response is reduced to **only** the entry for this warehouse — callers operating in a single-warehouse flow (e.g. mobile POS) get a self-consistent view where summing `availableQty` reflects only the chosen warehouse. Without this param, `inventory` returns every warehouse the product exists in.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "hasStock",
            "in": "query",
            "description": "\"true\" or \"false\" — filter by in-stock availability (`inventory[].availableQty > 0`). Combine with `warehouseId` to scope the stock check to a single warehouse.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priceMin",
            "in": "query",
            "description": "Inclusive lower bound on `price`. Negative values are ignored.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "priceMax",
            "in": "query",
            "description": "Inclusive upper bound on `price`. Negative values are ignored.",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Result ordering. `relevance` sorts by `catalogPriority` ascending (products without priority go last), tie-broken by `createdAt` descending. Defaults to `created_desc` on this endpoint.",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "created_desc",
                "created_asc",
                "name_asc",
                "name_desc",
                "price_asc",
                "price_desc"
              ],
              "default": "created_desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Restrict results to the variants of one product group (DIS-889).",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated products with drill-down facets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/search/v1/orders": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search orders",
        "description": "Full-text search across client name, order folio and invoice number, with the same filter surface as `GET /api/orders/v1`.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "description": "Single value or repeated",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "sellerId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "deliveryDateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "deliveryDateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "paymentTermId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "deliveryStatusId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "hasInvoice",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "excludeStatus",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrders"
                }
              }
            }
          }
        }
      }
    },
    "/api/search/v1/orders/counts": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Order counts (badges)",
        "description": "Aggregates the same filter set as `GET /api/search/v1/orders` into counts by delivery status and payment status. Drives the badges on the Orders list tabs.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sellerId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            }
          },
          {
            "name": "hasInvoice",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "thisWeekFrom",
            "in": "query",
            "description": "ISO date for the start of the \"this week\" window",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pendingDeliveryStatusId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCountsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/purchases/v1/incoming-qty": {
      "post": {
        "tags": [
          "Purchases"
        ],
        "summary": "Incoming qty per product",
        "description": "Returns the total qty incoming for the given products from open purchase orders. Does not break down by PO; see the gap noted in the Product Detail guide.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productIds"
                ],
                "properties": {
                  "productIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incoming qty keyed by productId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/quotes/v1": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "List quotations",
        "description": "Returns a paginated list of quotations scoped to the caller. Sales reps only see quotations they created; managers see every quotation in the org. For full-text search across client and quote number, prefer `GET /api/search/v1/quotations`.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated quotations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedQuotations"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Create quotation",
        "description": "Creates a quotation in `DRAFT` status. Unlike orders, creating a quotation does **NOT** validate or commit inventory — quotations are a sales proposal, stock is only touched when the quotation is converted to an order.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuotationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Quotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/quotes/v1/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Get quotation",
        "responses": {
          "200": {
            "description": "Quotation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Quotations"
        ],
        "summary": "Update quotation",
        "description": "Full replacement of a `DRAFT` quotation. Once a quotation is in `CONFIRMED` status (i.e. it has been converted to an order) it is read-only — this endpoint will return `409 Conflict`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQuotationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated quotation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Quotations"
        ],
        "summary": "Delete quotation",
        "description": "Soft-deletes the quotation. Only `DRAFT` quotations can be deleted; converted quotations are kept for audit alongside their order.",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/quotes/v1/{id}/status": {
      "patch": {
        "tags": [
          "Quotations"
        ],
        "summary": "Change quotation status",
        "description": "Transitions a quotation between `DRAFT` and `CONFIRMED`. Note that `CONFIRMED` is also set automatically by `POST /{id}/convert` and once set the quotation becomes read-only — use this endpoint mainly to flip a manually-confirmed quotation back to draft.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeQuotationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated quotation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/quotes/v1/{id}/convert": {
      "post": {
        "tags": [
          "Quotations"
        ],
        "summary": "Convert quotation to order",
        "description": "Creates an `Order` from the quotation, marks the quotation as `CONFIRMED`, and links them via the order's `quoteId` and the quotation's `orderId`.\n\n**Preconditions** (return `409 Conflict` on failure):\n- Quotation status must be `DRAFT` and not already converted (`orderId == null`).\n- `clientId` must be set — anonymous quotations cannot be converted.\n- Every line must have a `warehouseId` — quotations allow lines without a warehouse, but orders do not.\n\n**Side effects** — unlike `POST /api/orders/v1`, conversion runs the full order-create flow on the line items, which means:\n- Inventory is validated (the order is rejected if any line has insufficient stock) and shipped against the chosen warehouse.\n- The order is created in `CONFIRMED` status, not `DRAFT`.\n- Order timeline + Kafka order-created events fire as if the order had been created directly.\n\nIf the order creation fails (stock, validation, etc.) the quotation stays in `DRAFT` and no inventory is touched.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quotation after conversion, with `orderId` populated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quotation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/api/quotes/v1/clients/{clientId}/products/{productId}/last-quoted-price": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "Last quoted price for client × product",
        "description": "Returns the most recent unit price quoted to this client for this product — used by the POS / order form to pre-fill the price when re-quoting a known client.",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last quoted price (zero if none)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "price"
                  ],
                  "properties": {
                    "price": {
                      "type": "number"
                    },
                    "quotedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/quotes/v1/quoted-qty": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Quoted qty per product",
        "description": "Returns the total qty currently committed to open quotations for the given products.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productIds"
                ],
                "properties": {
                  "productIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quoted qty keyed by productId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/v1/auth": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/users/v1/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Forgot password",
        "security": [],
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/users/v1/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create user",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/users/v1/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/organizations/v1/register": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Create organization",
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/organizations/v1": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "List organizations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/organizations/v1/{id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Update organization",
        "description": "The body accepts `variantsEnabled` to opt the organization into the product variants (groups) model. It is false by default; while it is false the group endpoints answer 403 and products behave exactly as before. The product service caches the flag for 60 seconds. See [Product variants](/guides/product-variants).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Delete organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/organizations/v1/{id}/logo": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Upload logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Organization"
        ],
        "summary": "Delete logo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/organizations/v1/me/recency-thresholds": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get recency thresholds",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Update recency thresholds",
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/organizations/v1/permissions": {
[...]
